.jacket {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  touch-action: pan-y;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
